<% unless @feed_items.empty? %>
<h1><strong>all posts</strong></h1>
	<div class="panel">
		<div class="panel-wrapper">
			<div class = "free round">
			  <%= render 'shared/feed' %>
			</div>
		</div>
	</div>
<% else %>
	There are currently no events to show
<% end %>