<h1>About</h1>
<h2>What is this?</h2>
<p>
  CrunchyCaramel is like having a cool friend that always knows when and where you can get free food. If you are a student, this friend is like god. You can use CrunchyCaramel to look for free or cheap food around you, so you can stay full and get on with your day (or night).
</p>
<h2>Who are we?</h2>
<p>
  We are both students from University of Waterloo, currently enrolled in Management Engineering, scheduled to graduate in April 2012. This website got started when we decided to do something different for our work term. We wanted to be our own bosses, we wanted to live by our own schedule, but most importantly, we wanted to do something cool. We got together and started a project called CrunchyCaramel. This is our work.
</p>
<div class="profile_container">
  <div class="picture_left">
    <h3>Pativet Sathiensamrit</h3>
    <%= light %>
  </div>
  <div class="content">
    "I have always wanted to figure out how I can do the same tasks in different ways, and particularly, finding the best way. This is why the idea of CrunchyCaramel appealed to me, given there are so many others out there doing websites about events. When I am not coding I like to sing and do graphics design, and I have most of time been in charge of the graphics design aspect of team projects as well as posters for clubs and organizations that I am involved in."
  </div>
</div>

<div class="profile_container">
  <div class="picture_right">
    <h3>Joonha Shin</h3>
    <%= joonha %>
  </div>
  <div class="content">
    "I believe that having passion for your work is now more important than ever. If you don't believe that what you are doing makes a difference, work will become just that, work. I couldn't find a job that I felt really passionate about, so I decided to build one for myself instead. It's risky, but the best time to take lots of risks is when you are young and I'm only twenty-two. I love socializing and making new friends. I also like to sing and dance as well as program. It's a weird combination, but I think it works; it makes me seem more interesting to others, which is always a plus."
  </div>
</div>