<h1>Career</h1>
<h2>Why work with us?</h2>

<ul>
  <li>We are a small start up with only two people currently on the team. This means that you can get your ideas forward and play a big part in our success. </li>

  <li>Since there are currently no cash flow within the company, we will compensate you with share options instead. </li>
</ul>
<!-- I made some changes here:

1. I don't think we should put that we like drinking beer... we should put other interests like sports and music, etc instead or StarCraft 2, so to speak 

2. We also shouldn't say that we are inexperienced, because it makes us seem like we don't really know what we are doing and people won't have faith in working with such a team. I think the "we are willing to try new things" part is covered in the first line, where people can try different things or make good suggestions in a small start-up environment 

3. I also changed the wording of the third bullet point a little bit, to make it seem more exciting and not too straight-to-the point in which we may become unattractive to work for. -->

</p>


<p>Interested in joining us? We are currently looking for:</p>
<ul>
  <li>A Ruby on Rails programmer who is looking to become part of an interesting project working towards a big goal</li>
  <li>Investor willing to feed diehard entrepreneurs until they can feed ourselves in exchange for share options</li>
</ul>
<p>If you are interested in what we are doing and want to chat, or see what ways you can help, contact us at <%= mail_to "careers@gratetimes.com", "careers@gratetimes.com" %></p>
<p>We look forward to hearing from you!</p>