<div class="page_container">
  <h1>Careers</h1>
  <h2>Why work with us?</h2>
  <ul>
    <li>
      We are a small start up with only two people currently on the team. This means that you can get your ideas forward and play a big part in our success.
    </li>
    <li>
      Since there are currently no cash flow within the company, we will compensate you with share options instead.
    </li>
  </ul><br />
  <h2>Interested in joining us? We are currently looking for:</h2>
  <ul>
    <li>A Ruby on Rails programmer who is looking to become part of an interesting project working towards a big goal</li>
    <li>Investor willing to feed diehard entrepreneurs until they can feed ourselves in exchange for share options</li>
  </ul><br />
  <p>
    If you are interested in what we are doing and want to chat, or see what ways you can help, contact us at <%= mail_to "careers@crunchycaramel.com", "careers@crunchycaramel.com" %>
  </p>
  <p>
    We look forward to hearing from you!
  </p>
</div>