<h1>Career</h1>
<h2>Why work with us?</h2>
<p>Here are few reasons (in no specific order):
<ul>
  <li>We are a small team; there's only two of us</li>
  <li>We are inexperienced, so we are willing try a lot of things</li>
  <li>We can't pay you right now, but we can discuss share options</li>
  <li>We like to drink beer</li>
</ul>
</p>
<p>If any of those bullet points interests you in any way, here are following people we are looking for:</p>
<ul>
  <li>Rails programmer who is looking to lend a hand to an interesting project</li>
  <li>Investor willing to feed diehard entrepreneurs until they can feed ourselves in exchange for share options</li>
</ul>
<p>In all seriousness, we are pretty interesting people. If you just want to chat about what we are doing and see what ways you can help, contact us at <%= mail_to "careers@gratetimes.com", "careers@gratetimes.com" %></p>
<p>We look forward to hearing from you!</p>