<h1>Contact</h1>
<h2>We'd love to hear from you</h2>
<div class="map_container">
  <div id="map">
    <iframe width="450" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=38+Grenville+Street,+Toronto,+Ontario+M4Y+1A5&amp;aq=&amp;sll=43.661492,-79.385812&amp;sspn=0.008491,0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=38+Grenville+St,+Toronto,+Toronto+Division,+Ontario&amp;ll=43.661476,-79.385748&amp;spn=0.021732,0.042915&amp;z=14&amp;output=embed"></iframe>
  </div>
  <div id="address">
    <h3>Toronto, ON</h3>
    38 Grenville Street<br />
    Suite 2909<br />
    M4Y 1A5
  </div>
  <div id="email">
    <h3>General Info</h3>
    <p>For general inquiries please email us at
    <%= mail_to "shin.joonha@gmail.com", "info@timeline.com" %></p>
  </div>
</div>