<div class="page_container">
  <h1>Contact</h1>
  <h2>We'd love to hear from you</h2>
  <div class="map_container">
    <div id="address">
      <h3>Toronto, ON</h3>
      38 Grenville Street<br />
      Suite 2909<br />
      M4Y 1A5
    </div>
    <div id="email">
      <h3>General Info</h3>
      <p>For general inquiries please email us at
      <%= mail_to "info@crunchycaramel.com", "info@crunchycaramel.com" %>.</p>
    </div>
  </div>
</div>