<h1>See what events are happening around you...</h1>
<<<<<<< HEAD
<%= button_to "New event", :controller => "events", :action => "new" %> |
<%= render :partial => 'shared/feed' %>
=======
<%= render 'shared/feed' %> 

<!-- if want to output slider partial, render 'shared/slider' -->
>>>>>>> facebox
